<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Học ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{ course.name }}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z2f7RHgvddc?si=ex4iae1VIydY89yQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error mollitia ipsam nulla saepe voluptas. Natus
                impedit magnam vel harum quam voluptatem neque magni nemo velit! Ratione, suscipit! Atque, esse eos?</p>
        </div>
    </div>
</div>