@import "variables";

.card-course-item {
    margin-top: 16px;
}

a {
    color: green;
}

a:hover {
    color: rgb(0, 137, 91);
}

.col-lg-3 {
    background-color: beige;
    padding: 10px;
}

.col-lg-9 {
    padding: 20px 60px;
    border-left: 5px solid black;
}

