<div class="mt-4">
    <form>
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khoá</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>