<div class="mt-4">
    <h3>Chỉnh sửa khoá học</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khoá học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả khoá học</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="videoID" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trình độ khoá học</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary" style="float: right;">Lưu lại</button>
    </form>
</div>